.Header {
  background-color: var(--main-bg-color);
  padding: 25px;
  display: flex;
  justify-content: space-between;
}

.title-big, .title-big:hover {
  font-size: 18px;
  display: inline-block;
  color: white;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}